<p>
  <b>Created:</b>
  <%= created %>
</p>

<p>
  <b>Paid:</b>
  <%= paid %>
</p>

<p>
  <b>Amount:</b>
  <%= amount %>
</p>

<p>
  <b>Currency:</b>
  <%= currency %>
</p>

<p>
  <b>Refunded:</b>
  <%= refunded %>
</p>


<a href="#/index">Back</a>